extends stations

block actions
    .form-group
        label(for='bribevalue') Bribe Value
        input#bribevalue.form-control(type='bribe', placeholder='Bribe')
    button.btn.btn-success.btn-lg.btn-block(type='button') Purchase
    
    button.btn.btn-primary.btn-lg.btn-block(type='Button') Audit